html, body {
    height:91%;
    width: 90%;
    margin: 0 auto;

}

#wrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    margin: 0 auto -20px;
    width: 100%;
    border: 3px solid #000;

}

.clear {
    clear: both;
}

.push {
    clear: both;
    height: 25px;
}

#header {
    border-bottom: 3px solid #000;
}
#header h2 {
    color: #00029F;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#language {
    float: right;
    margin: -25px 10px 0 0;

}

#language a {
    font-weight: bold;
    color: #0000EE;
}

#language a:hover {
    color: #00017F;
    text-decoration: none;
}

#spacer {
    height:100px;
}

#rightcol ul {
    float: left;
    width: 93%;
    list-style: none;
    padding-left: 30px;
    margin: 0px;
}

#rightcol ul li{
    margin-top: 20px;
    padding: 0px;
}

#rightcol ul li .brieflist{
    margin-bottom: 1px;
    width: 80%;
}

#rightcol ul li .titlelist{
    float: left;
    margin-bottom: 10px;
    width: 640px;
    font-weight: bold;
}

#rightcol ul li .datelist{
    float: right;
    margin-right: 0%;
    font-weight: bold;
    text-decoration: underline;
}
#rightcol ul li .clicklist{
    float: right;
    margin-right: 0%;
}

#rightcol ul li .clicklist a {
    text-decoration: none;
    color: #0000EE;
}

#rightcol ul li .clicklist a:hover {
    color: #00017F;
}

#rightcol #delete {
    float: right;
    margin-top: 15px;
}
#rightcol #delete_edit {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}
#rightcol #save_cancel {
    text-align: center;
    margin-top: 15px;
}
#rightcol #table_edit {
    width: 97%;
    
}

#rightcol #table_edit  textarea{
    overflow: auto;
}
#rightcol #currentPage {
    font-size: 100%;
    color: #000;
    font-weight: bold;
}

#rightcol #currentPage .workflow_sec{
    color: #BFBFBF;
    font-weight: bold;
    text-decoration: underline;
}

#rightcol #titleText {
    color: #BFBFBF;
    font-weight: bold;
}

#content {
    padding: 10px;
    min-height: 100%;

}

#rightcol {
    float: left;
    width: 76%;
    margin-left: 15px;
    padding: 5px;
    border: 2px solid #BFBFBF;
    min-height: 100%;

}

#rightcol #workflow {
    font-size: 100%;
    color: #000;
    font-weight: bold;
}

#rightcol #workflow .workflow_sec{
    color: #BFBFBF;
    font-weight: bold;
    text-decoration: underline;
}

#content #leftcol h2 {
    color: #FFFFFF;
    background-color: #7F7F7F;
    margin-bottom: 7px;
    text-align: center;
    font-weight: normal;
}

#content #leftcol ul {
    float: left;
    list-style-position: inside;
    list-style-image: url(../images/marker.png);
    background-color: #FFFFFF;
    margin: 5px -4px 10px 32px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 10px;
    width: 164.469;
}
#leftcol {
    float: left;
    width: 20%;
    background-color: #BFBFBF;
    padding-left: 7px;
    padding-top: 1px;
}

#leftcol ul li a {
    color: #0000EE;
    width: 100%;
}

#leftcol ul li a:hover {
    color: orange;
    text-decoration: none;
}

#buthref {
    border: 0px;
    text-decoration: none;
}

#footer {
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid #000;
}

#copy {
    font-size: 100%;
    margin: 0;
    text-align: center;
}

.trAdd {
    margin: 0px;
    padding: 0px;
}

.tdAdd {
    margin: 0px;
    padding: 4px;
}